<?xml version="1.0" encoding="ISO-8859-1"?>
<!--  metadata config.xml  -->
<body>
    <DatabaseConfig>
        <host>localhost</host>
        <port>3306</port>
        <userName>root</userName>
        <!--<password>??</password>-->
        <dbName>metadata</dbName>
    </DatabaseConfig>

    <metadataIndustry>
        <filePath>./config/metadataIndustry.xml</filePath>
    </metadataIndustry>

    <usersConfig>
        <userConfigFilePath>./config/users.xml</userConfigFilePath>
    </usersConfig>
</body>

